pipeline/MainPipeline.json
{
	"name": "MainPipeline",
	"properties": {
		"activities": [
			{
				"name": "LookupCustomerCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS customerCount FROM [SalesLT].[Customer];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LookupCustomerCount",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IfCustomerCountGT500",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupCustomerCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('LookupCustomerCount').output.firstRow.customerCount, 500)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CopyCustomerData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LookupCustomerCount",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "IfCustomerCountGT600",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IfCustomerCountGT500",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('LookupCustomerCount').output.firstRow.customerCount, 600)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "TriggerChildPipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ChildPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"customerCount": {
										"value": "@activity('LookupCustomerCount').output.firstRow.customerCount\n",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-06-16T03:00:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}